a2wsgi==1.10.7
anyio==4.6.0
asgiref==3.8.1
attrs==24.2.0
Automat==24.8.1
balena-sdk==12.3.1
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
clickclick==20.10.2
connexion[flask,uvicorn]==3.1.0
constantly==23.10.4
cryptography==43.0.1
Deprecated==1.2.14
Flask==3.0.3
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.2
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-path==0.3.3
jsonschema-specifications==2023.12.1
lazy-object-proxy==1.10.0
MarkupSafe==2.1.5
openapi-schema-validator==0.6.2
openapi-spec-validator==0.7.1
packaging==24.1
pathable==0.4.3
pine-client==0.2.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.9.0
pyOpenSSL==24.2.1
pyrsistent==0.20.0
python-dotenv==1.0.1
python-gnupg==0.5.3
python-multipart==0.0.10
PyYAML==6.0.2
ratelimit==2.2.1
referencing==0.35.1
requests==2.32.3
rfc3339-validator==0.1.4
rpds-py==0.20.0
semver==3.0.2
service-identity==24.1.0
setuptools==75.1.0
six==1.16.0
sniffio==1.3.1
starlette==0.39.1
Twisted==24.7.0
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.30.6
uvloop==0.20.0
uWSGI==2.0.27
watchfiles==0.24.0
websockets==13.1
Werkzeug==3.0.4
wrapt==1.16.0
zope.interface==7.0.3
